.main {
  width: 70vw;
  height: 50vh;
  background-color: rgb(105, 144, 156);
   border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 20px;
  margin-left: 20px;

  position: relative;
}

.title {
  position: absolute;
  top: 0;
  padding: 40px;
}
.title p {
  font-size: large;
}

.boxs {
  margin-top: 10px;
  width: 70vw;
  height: 80vh;
  background-color: darkgray;
  border-radius: 80px;
  display: flex;
  padding: 30px;
  position: relative;
}

#box1 {
  width: 20rem;
  height: 10rem;
  background-color: blueviolet;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box2 {
  width: 20rem;
  height: 10rem;
  background-color: rgba(114, 182, 47, 0.664);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 29px;
  top: 200px;
}

#box3 {
  width: 20rem;
  height: 10rem;
  background-color: rgba(196, 133, 17, 0.836);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 450px;
  top: 250px;
}
